* {
    font-family: Shabnam;
}

.text-info{
    color: #fbfffb;
    margin: 0px 10px 0px 10px;
}

.col-sm-6{
    margin: 5px 0px 5px 0px;
}

.text-center{
    margin:auto;
}

.btn{
    margin: 5px;
}

.btn-primary{
    background: #0f73d2;
    width: 100px;
    border-radius: 3px;
    border: 0px;
    margin: 0px 5px 0px 5px;
}

.row{
    margin: 10px;
}

