* {
    font-family: Shabnam;
}

.text-info{
    color: #fbfffb;
    margin: 0px 10px 0px 10px;
}

.text-primary{
    color: #000000;
    margin: 5px 10px 5px 10px;;
}

.col-sm-6{
    margin: 5px 0px 5px 0px;
}

.text-center{
    margin:auto;
}

.btn{
    margin: 5px;
}

.btn-primary{
    background: #0f73d2;
    width: inherit;
    padding: 5px;
    border-radius: 3px;
    border: 0px;
    margin: 0px 5px 0px 5px;
}

.row{
    margin: 0px;
}

.material-icons {
    font-weight: normal;
    font-style: normal;
    font-size: 48px; /* Preferred icon size */
    display: inline-block;
    line-height: 10;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: normal;
    margin-top: 2px;
    word-wrap: normal;
    white-space: nowrap;
    direction: rtl;
    float: none;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-18 {
    font-size: 16px;
}


