#main-content{
    background: url("../assets/call-of-duty-background-18.jpg") no-repeat center center;
    background-size: cover;
    min-height: 800px !important;
    width: 100%;
    padding: 0px;
}
#slider{
    background: #c6134f;
    height: 150px;
}

#studio{
    color: #2dc7ff;
}

#foregrand{
    background: rgba(0, 0, 0, 0.77) ; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.55) , rgba(0, 0, 0, 0.95)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0.55) , rgba(0, 0, 0, 0.95)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.55) , rgba(0, 0, 0, 0.95) ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0.55) ,rgba(0, 0, 0, 0.95) ); /* Standard syntax */
    background-size: cover;
    min-height: 800px !important;
    width: 100%;
}

#content{
    float: right;
    margin-top: 200px;
    margin-bottom:auto;
}

#frame{
    margin-right: auto;
    margin-left: auto;
    float: none;
}