/* 	global css rules in hw2 pages like font-family (@font-face), boxes, and login-register inputs
	author: 1111111;
	date: dd-mm-yy;
	version: 0.1;
*/

html , body {
	background-color: #3f6aaf;
	padding: 0px;
	margin: 0px;
	border:0px;
}




@font-face {
	font-family: Material Icons ;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	src: url(../assets/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(../assets/MaterialIcons-Regular.woff2) format('woff2'),
	url(../assets/MaterialIcons-Regular.woff) format('woff'),
	url(../assets/MaterialIcons-Regular.ttf) format('truetype');
}
