/* 	css rules for leaderboard.html page
	author: 1111111;
	date: dd-mm-yy;
	version: 0.1;
*/
*{
	font-family: Shabnam;
}

#content{
	text-align: center;
	padding: 20px;
}

#header {
	width: 100%;
	height: 60px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background: #3c3d3c;
}

#title {
	text-align: center;
	color: #444444;
	display: block;
	font-size: 25px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Shabnam;
}

#board {
	alignment: center;
	background: #eaebed;
	text-align: center;
	width: 510px;
	height: 890px;
	/*margin-top: 25px;*/
	padding: 10px 25px 10px 25px;
	margin: auto;
	border-radius: 2px;
	box-shadow: 0px 5px 10px #4f5051;
}

#best{
	border-bottom: 2px solid #c7c7c7;
	width: auto;
	height: 290px;
	align-self: center;
	margin-bottom: 20px;
}

#person1{
	float: left;
	padding: 5px;
	text-align: center;
	/*background: #2aa1c0;*/
	width: 31%;
	margin: 50px 4px 4px 4px;
}

#person2{
	/*//background: #ffff00;*/
	text-align: center;
	width: 31%;
	float: left;
	margin: 4px;
}

#person3{
	/*//background: #c6134f;*/
	text-align: center;
	width: 31%;
	float: left;
	margin: 50px 4px 4px 4px;
}

.rate{
	text-align: center;
	color: #3c3d3c;
	font-size: 20px;
	font-weight: bold;
}

.silver-border{
	border-radius: 50%;
	align-content: center;
	text-align: center;
	align-self: center;
	margin-left: 0px;
	width: 85px;
	height: 85px;
	padding: 3px;;
	background: #a0a0a0;
}

.name{
	font-size: 21px;
}

.score{
	font-size: 20px;
	color: #26a008;
	margin-bottom: 0px;
	border: 0px;
	padding: 0px;
	margin-top: -10px;
}

#rate{
	color: #3c3d3c;
	font-size: 23px;
	font-weight: bold;
}

#name{
	font-size: 24px;
}

#score{
	font-size: 24px;
	color: #26a008;
	margin-top: -10px;
}

.gold_star{
	color: #efcb17;
}

.light_gray_star{
	color: #b4b4b4;
}

/*#image{*/
	/*border-radius: 50%;*/
	/*align-content: center;*/
	/*text-align: center;*/
	/*align-self: center;*/
	/*margin-left: 0px;*/
	/*width: 125px;*/
	/*height: 125px;*/
	/*background: #c1c1bf;*/
	/*border: 5px #c6134f;*/
/*}*/

.gold_border{
	padding: 3px;
	border: 5px #c6134f;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	align-content: center;
	text-align: center;
	align-self: center;
	margin-left: 5px;
	background: #f9a718;
}

.bronze-border{
	padding: 3px;
	border: 5px #c6134f;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	align-content: center;
	text-align: center;
	align-self: center;
	margin-left: 5px;
	background: #A92B0C;
}

.stars{
	border : 0px;
	margin-top: 0px;
	margin-top: -15px ;
}

#stars{
	border : 0px;
	margin-top: 0px;
	margin-top: -15px ;
}

#line{
	display: block;

}

.list-item{
	width:100%;
	height:auto;
	text-align: center;
	display: inline-block;
	margin-top: -20px;

}

.rank-list{
	float: right;
	text-align: right;
	font-size: 20px;
	height: auto;
	margin-top: 45px;
	width: 40px;
	color: #5e5e5e;;
}

.list{
	list-style: none ;
}

.personal-image{
	float: right;
	margin-top: 30px;
}

.information{
	float: right;
	margin-top: 30px;
	text-align: right;
	padding: 5px;;
}

.stars-block{
	float: left;
	margin-top: 50px;
}

.item{
	display: block;
}

.list-image{
	padding: 3px;
	border: 5px #c6134f;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	align-content: center;
	text-align: center;
	align-self: center;
	margin-left: 5px;
	background: #f9a718;
}

.name-list {
	font-size: 24px;
}

.score-list{

}