/* 	css rules for leaderboard.html page
	author: 1111111;
	date: dd-mm-yy;
	version: 0.1;
*/
*{
	font-family: Shabnam;
}
#header {
	width: 100%;
	height: 60px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background: #3c3d3c;
}

#title {
	text-align: center;
	color: #444444;
	display: block;
	font-size: 25px;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 20px;
	font-family: Shabnam;
}

#board {
	alignment: center;
	background: #eaebed;
	width: 500px;
	height: 820px;
	margin-top: 50px;
	padding-top: 20px;
	margin-left: 710px;
	border-radius: 2px;
	box-shadow: 10px 15px 12px #4f5051;
}

#best{
	border-bottom: 10px;
	border-color: #8c8c8c;
	width: 100%;
	height: 190px;
}

#person1{
	float: left;
	padding: 5px;
	text-align: center;
	background: #2aa1c0;
	width: 31%;
	height:85%;
	margin: 35px 4px 4px 4px;
}

#person2{
	background: #ffff00;
	text-align: center;
	width: 31%;
	float: left;
	height:100%;
	margin: 4px;
}

#person3{
	background: #c6134f;
	text-align: center;
	width: 31%;
	float: left;
	margin: 35px 4px 4px 4px;
	height:85%;
}

.rate{
	text-align: center;
	color: #3c3d3c;
	font-size: 20px;
	font-weight: bold;
}

.name{
	font-size: 21px;
}

.score{
	font-size: 25px;
}

#rate{
	color: #3c3d3c;
	font-size: 23px;
	font-weight: bold;
}

#name{
	font-size: 24px;
}

#score{
	font-size: 27px;
}

.gold_star{
	color: #efcb17;
}

.light_gray_star{
	color: #eaeaea;
}